  <tr id="<%= dom_id client %>">
    <td><%= client.name %></td>
    <td><%= client.middle_name %></td>
    <td><%= client.surname %></td>
    <td><%= client.email %></td>
    <td><%= client.phone_number %></td>
