<div class="jumbotron">
  <h1 class="display-4">
    <%= @client.name %>
    <%= @client.middle_name %>
    <%= @client.surname %>
  </h1>
  <p class="lead">
    <%= @client.email %>  | 
    <%= @client.phone_number %>  |  
  </p>
  <br/>

<%= link_to 'Edit', edit_client_path(@client), class:"btn btn-secondary" %>
<%= link_to 'Delete', @client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
   
<%= link_to 'Back', clients_path, class:"btn btn-dark" %>
</div>